<div class="alert @AlertClass" role="alert">
    @if (!string.IsNullOrEmpty(Title))
    {
        <h4 class="alert-heading">@Title</h4>
        <div>@ChildContent</div>
    }
    else
    {
        @ChildContent
    }
</div>

@functions {
    public enum AlertType
    {
        Primary,
        Secondary,
        Success,
        Danger,
        Warning,
        Info,
        Light,
        Dark
    }

    [Parameter]
    AlertType Type { get; set; } = AlertType.Primary;

    [Parameter]
    RenderFragment ChildContent { get; set; }

    [Parameter]
    string Title { get; set; }

    string AlertClass => $"alert-{Type.ToString().ToLower()}";
}