<div class="card">
    @if (Header != null)
    {
        <div class="card-header">
            @Header
        </div>
    }

    <div class="card-body">
        @if (!string.IsNullOrEmpty(Title))
        {
            @TitleTemplate(Title)
        }
        <p class="card-text">@Content</p>
    </div>

    @if (Footer != null)
    {
        <div class="card-footer">
            @Footer
        </div>
    }
</div>

@code {
    [Parameter]
    string Title { get; set; }

    [Parameter]
    RenderFragment Content { get; set; }

    [Parameter]
    RenderFragment<string> TitleTemplate { get; set; } =
      (title) =>@<h4 class="card-title">@title</h4>;

[Parameter]
RenderFragment Header { get; set; }

[Parameter]
RenderFragment Footer { get; set; }
}
