@page "/callingDotNetInstance"

@inject IJSRuntime Js

<div class="card my-3">
    <h5 class="card-header">Calling a .NET instance</h5>
    <div class="card-body">
        <button onclick=@RequestJsCallback>Request JS callback</button>
    </div>
</div>

@functions {
    void RequestJsCallback()
    {
        Console.WriteLine("Requesting JavaScript callback");
        Js.InvokeAsync<bool>("requestJsCallback", 
          new DotNetObjectRef(this));
    }

    [JSInvokable]
    public void Callback()
    {
        Console.WriteLine("Received the callback from JavaScript");
    }
}
