<div class="card">
    @if (Header != null)
    {
        <div class="card-header">
            @Header
        </div>
    }
    <div class="card-body">
        @if (!string.IsNullOrEmpty(Title))
        {
            @TitleTemplate(Title)
        }
        <p class="card-text">@Content</p>
    </div>
    @if (Footer != null)
    {
        <div class="card-footer">
            @Footer
        </div>
    }
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment Content { get; set; }

    [Parameter]
    public RenderFragment<string> TitleTemplate { get; set; } =
      (title) =>@<h4 class="card-title">@title</h4>;

    [Parameter]
    public RenderFragment Header { get; set; }

    [Parameter]
    public RenderFragment Footer { get; set; }
}