@page "/"

<p>Find Blazor documentation about JavaScript Interop <a target="_blank" href="https://docs.microsoft.com/en-us/aspnet/core/razor-components/javascript-interop?view=aspnetcore-3.0">here.</p>