@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <img src="/images/mark-github.svg" style="width:16px;" class="ml-md-auto mx-2"/>
        <a href="https://github.com/DevExpress/blazor-training-samples" target="_blank">DevExpress Blazor Training Samples</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
