@page "/"

<p>Read all about Dependency Injection with Blazor by following <a target="_blank" href="https://docs.microsoft.com/en-us/aspnet/core/razor-components/dependency-injection?view=aspnetcore-3.0">this link.</p>