@page "/"

<Card>
    <Header>
        <h3>Info - Header</h3>
    </Header>

    <Body>
        <Title>A title</Title>
        <Text>This is the first card body</Text>
    </Body>
    <Body>
        This is the second card body
    </Body>

    <Footer>
        This is the footer
    </Footer>
</Card>